@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";


.hero-background {
    background-image: url(../../public/images/hotel.jpg);
    background-size: cover;
    background-position: center;
}

* {
  font-family: 'Saira Condensed', sans-serif;
}